.cover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 351px;
    height: 140px;
    left: 12px;

    border: 1px dashed #3F8AE0;
    border-radius: 10px;
}

.upload-photo-title {
    color: #3F8AE0
}

.Cell--ios .Cell__before-in>.Icon {
    padding-top: 12px;
    padding-right: 12px;
}

.uploaded-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 351px;
    height: 140px;
    left: 12px;
    border-radius: 10px;
}